@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --black: #09090b;
    --white: #f4f4f5;
    --border: #71717B;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    background-color: var(--black);
    color: var(--white);
    font-family: Mulish;
    transition: all 0.3s;
}

* {
    margin: 0;
    padding: 0;
}

input,label{
   display: block;
}

a{
    all: unset;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;
}

/* Macros Styling */

.macroButton{
    height: 3rem;
    width: 3rem;
    border: 2px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s;
}

.macroButton i{
    font-size: 1.5rem;
    color: var(--white);
}