<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style/style.css') }}">
</head>
<body>
    <form action="{{url_for('insert',userId=id)}}">
        <button type="submit">New Post</button>
    </form>
    {% for blog in blogs %}
        <h2>{{blog.title}}</h2>
        <p>{{blog.date}}</p>
        <p>{{blog.content}}</p>
        <a href="{{url_for('deletePost',blogId=blog.blogId)}}">Delete</a>
        <a href="{{url_for('editPost',blogId=blog.blogId)}}">Edit</a>
        <br>
    {% endfor %}
</body>
</html>