{% extends 'base.html' %}
{% import "macros/navButton.html" as navButton %}
{% import 'macros/blogCard.html' as blogCard %}

{% block extra_css %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
{% endblock %}

{% block content %}

    <nav class="navbar">
        <div class="navItem">
            <a href="{{url_for('insert',userId = userId)}}">{{navButton.navButton('','fa-solid fa-pen','')}}</a>
            
            {{navButton.navButton('','fa-solid fa-user','')}}
            {{navButton.navButton('mode','modeIcon fa-regular fa-sun','changeMode()')}}
        </div>
    </nav>

    <div class="container">
        <div class="containerWidth">
            <h1 class="heading">BLOGDOJO</h1>
            {{blogCard.blogCard(posts,users)}}
        </div>
    </div>
    
{% endblock %}