{% extends 'base.html' %}
{% import "macros/modeButton.html" as modeButton %}

{% block extra_css %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
{% endblock %}

{% block content %}

    <nav class="navbar">
        <div class="navItem">
            {{modeButton.navButton('','fa-solid fa-pen','')}}
            {{modeButton.navButton('','fa-solid fa-user','')}}
            {{modeButton.navButton('mode','modeIcon fa-regular fa-sun','changeMode()')}}
        </div>
    </nav>

    <div class="container">
        <div class="containerWidth">
            <h1 class="heading">BLOG</h1>
            <div class="allPost">
                <div class="postCard">
                    <img class="postImage" src="{{url_for('get_post_image', post_id=post.blogId)}}" alt="{{post.title}}">

                </div>
            </div>
        </div>
    </div>
    
{% endblock %}