{% extends 'base.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
{% endblock %}


{% block content %}
    <div class="container">
        <div class="loginCard">
            <h3 class="loginHeading">Sign Up</h3>
            <p class="loginParagraph">Enter your personal data to create your account</p>
            <p class="loginError">Enter your Email Correctly</p>
            <form class="loginForm" action="" method="post">
                <div class="labelInput">
                    <label class="loginLabel" for="name">Name</label>
                    <div class="loginInput">
                        <i class="icon fa-regular fa-user"></i>
                        <input class="" type="text" name="name">
                    </div>
                </div>
                <div class="labelInput">
                    <label class="loginLabel" for="username">Username</label>
                    <div class="loginInput">
                        <i class="icon fa-regular fa-circle-user"></i>
                        <input class="" type="text" name="username">
                    </div>
                </div>
                <div class="labelInput">
                    <label class="loginLabel" for="email">Email</label>
                    <div class="loginInput">
                        <i class="icon fa-regular fa-envelope"></i>
                        <input class="" type="text" name="email">
                    </div>
                </div>
                <div class="labelInput">
                    <label class="loginLabel" for="password">Password</label>
                    <div class="loginInput">
                        <i class="icon fa-solid fa-lock"></i>
                        <input class="" type="text" name="password">
                    </div>
                </div>
                <button class="loginButton" type="submit">Sign Up</button>
                <p class="loginParagraph">Already have an account? <a href="http://">Log In</a></p>
            </form>
    


        </div>
    </div>
{% endblock %}