{% extends 'base.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/newPost.css')}}">
{% endblock %}

{% block content %}
    <div class="container">
        <form class="insertForm" method="POST">
            <div class="inputLabelWraper">
                <label class="insertLabel" for="image">Image:</label>
                <input class="insertImage" type="file" name="image">
            </div>
            <div class="inputLabelWraper">
                <label class="insertLabel" for="title" style="display: inline;">Title:</label>
                <input class="insertInput" type="text" name="title">
            </div>
            
            <label class="insertLabel" for="content">Content:</label>
            <!-- This is where Quill will display -->
            <div id="editor" style="height: 20rem;"></div>
            
            <!-- Hidden input to send HTML content to Flask -->
            <input type="hidden" name="content" id="hidden-content">
            
            <button class="insertButton" type="submit">Submit</button>
        </form>
    </div>

    <script>
        var quill = new Quill('#editor', {
            theme: 'snow',
            placeholder:'Write you Blog here...'
        });

        // On form submit, move HTML into hidden input
        document.querySelector('form').onsubmit = function () {
            var content = document.querySelector('#hidden-content');
            content.value = quill.root.innerHTML;
        };
    </script>

{% endblock %}