<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{{url_for('home',id=post.userId)}}">back</a> <br>
    <h2>{{post.title}}</h2>
    <p>Made by: {{user}}</p>
    <p>Date added: {{post.date}}</p>
    <a href="{{url_for('deletePost',blogId=post.blogId)}}">Delete</a>
    <a href="{{url_for('editPost',blogId=post.blogId)}}">Edit</a>
    <hr>
    <p>{{post.content}}</p>
</body>
</html>